@import "../../styles/Variables.module.scss";
.card {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 15px;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.1);
  width: fit-content;
  border-radius: 15px;
  width: 40%;

  h4 {
    margin: 0 !important;
    font-size: 22px;
  }

  p {
    margin: 8px 0 0 0;
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  .card {
    width: 80vw;
  }
}
