@import "./Variables.module.scss";

.container {
  top: 0;
  right: 0;
  z-index: 600;
  padding: 15px;
  height: 100vh;
  width: 400px;
  background-color: $white-color;
  position: fixed;
  transition-duration: 0.3s;
  border-left: 2px solid rgba(0, 0, 0, 0.493);

  .lista__productos {
    border-bottom: 1px solid $black-color;
    max-height: 50vh;
    overflow-y: scroll;
  }
  .lista__productos::-webkit-scrollbar {
    width: 5px; /* width of the entire scrollbar */
  }

  .lista__productos::-webkit-scrollbar-track {
    background: $white-color; /* color of the tracking area */
  }

  .lista__productos::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 2px solid rgb(0, 0, 0); /* creates padding around scroll thumb */
  }

  .cerrar {
    font-weight: 900;
    font-size: 35px;
    cursor: pointer;
    margin: 0;
  }

  h4 {
    margin: 0;
    font-weight: 900;
    font-size: 28px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.671);
    padding: 15px 0 15px 0;
  }
  .carrito__item {
    margin: 15px 0 15px 0;
    display: grid;
    grid-template-columns: 70px 1fr 80px;

    .img {
      height: 70px;
      width: 100%;
      background-color: $black-color;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      img {
        height: 70px;
        width: 100%;
        border-radius: 15px;
        object-fit: cover;
      }
    }
    .carrito__desc {
      padding: 10px;
      display: grid;
      justify-items: start;
      align-items: center;
      margin: 0;

      .carrito__title {
        font-weight: 600;
      }

      p {
        margin: 0;
      }

      .carrito__cantidad {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 5px;

        p {
          font-weight: 900;
          font-size: 20px;
          padding: 5px 10px 5px 10px;
        }

        .icon {
          background-color: $black-color;
          color: $white-color;
          border-radius: 5px;
          border-radius: 15px;
          cursor: pointer;
        }

        .cant {
          background-color: $white-color;
          border: 1px solid $black-color;
          color: $black-color;
          border-radius: 15px;
        }
      }
    }
  }

  .carrito__precio {
    display: flex;

    justify-content: space-between;
    align-items: center;
    gap: 5px;

    p {
      font-weight: 900;
    }
    .carrito__icon {
      font-size: 20px;
      cursor: pointer;
      margin-right: 5px;
    }
  }
}

.cupon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  p {
    font-size: 18px;
    font-weight: 900;
  }

  .icon {
    font-size: 32px;
  }
}

.form__cupon {
  display: flex;
  justify-content: center;
  width: 100%;
  input {
    width: 70%;
    padding-left: 10px;
    border: none;
    height: 40px;
    outline: none;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }
  button {
    background-color: $black-color;
    color: $white-color;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border: none;
    cursor: pointer;
  }
}

.cupon__aplicado {
  font-weight: 900;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.precio__final {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid $black-color;

  p {
    font-weight: 900;
    font-size: 18px;
  }
}

.container__confirmacion {
  width: 100%;
  display: grid;
  justify-items: center;
}
.confirmacion {
  cursor: pointer;
  margin-top: 15px;
  width: 150px;
  height: 35px;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: $black-color;
  border-radius: 15px;
  text-align: center;

  p {
    color: $white-color;
    margin: 0;
    font-weight: 900;
    color: $white-color;
  }

  a {
    width: 100%;
    color: white;
    font-weight: 900;
    margin: 0;
    text-decoration: none;
  }
}

.toast {
  display: grid;
}
.toast__movil {
  display: none;
}

@media (max-width: 900px) {
  .container {
    z-index: 600;
    padding: 15px;
    height: 97vh;
    width: 92vw;
    background-color: $white-color;
    top: 0;
    position: fixed;
  }
  .toast {
    display: none;
  }
  .toast__movil {
    display: grid;
  }
}
