@import "./Variables.module.scss";
.container {
  width: 100%;
  display: grid;
  justify-items: start;

  .p__productos {
    margin: 15px 0 15px 0;
    font-weight: 400;
    font-size: 18px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.103);
    border-radius: 15px;
  }

  .container__descuentos {
    display: flex;
    justify-content: flex-start;
    gap: 20px;

    .container__descuentos__item {
      margin: 10px 0 10px 0;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.103);
      border-radius: 15px;
      display: grid;
      justify-items: center;
    }
  }
  .h3 {
    text-align: center;
    font-size: 35px;
    margin: 0;
    border-bottom: 2px solid black;
  }
  p {
    font-weight: 900;
    margin: 15px 0 0px 0;
  }
  .title {
    text-decoration: underline;
    font-size: 20px;
    margin-top: 20px;
  }

  form {
    padding: 8px 0 8px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.37);
    select {
      padding: 5px;
      border-radius: 15px;
      margin-right: 5px;
      cursor: pointer;
      outline: none;
    }

    button {
      padding: 8px;
      background-color: $black-color;
      border: none;
      color: $white-color;
      border-radius: 15px;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
.descuento__seccion {
  background-color: $black-color;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.3s;
  margin: 10px 0 5px 0 !important;
  &:hover {
    background-color: $third-color;
  }
}

.aplicarDescSeccion {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.listaProducto {
  padding: 10px 0 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  grid-gap: 15px;
}
