@import "./Variables.module.scss";
.container {
  width: 90%;
  display: grid;
  justify-items: start;
  grid-gap: 15px;

  .info {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 15px;
  }

  .head {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  h2 {
    margin: 0;
    font-size: 32px;
    color: $black-color;
  }
  .btn__tutorial {
    background-color: $black-color;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }

  .container__descuentos {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: $sombra;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .container__descuentos__item {
      width: 45%;
      margin: 10px 0 10px 0;
      padding: 10px;
      border-radius: 5px;
      display: grid;
      justify-items: center;
    }
  }
  .h3 {
    text-align: center;
    font-size: 35px;
    margin: 0;
    border-bottom: 2px solid black;
  }
  p {
    font-weight: 900;
    margin: 15px 0 0px 0;
  }

  .cupones__container {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    box-shadow: $sombra;

    .title {
      font-size: 22px;
      margin: 0;
    }
  }

  form {
    width: 350px;
    padding: 8px 0 8px 0;
    border: 1px solid rgba(0, 0, 0, 0.37);
    padding: 8px;
    border-radius: 5px;
    p {
      margin: 5px 0 0 0;
    }
    select {
      padding: 5px;
      border-radius: 5px;
      margin-right: 5px;
      cursor: pointer;
      outline: none;
    }

    button {
      padding: 8px;
      background-color: $black-color;
      border: none;
      color: white;
      border-radius: 5px;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
.descuento__seccion {
  width: 350px;
  color: $black-color;
  padding: 7px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.3s;
  margin: 10px 0 5px 0 !important;
  transition-duration: 0.3s;
  &:hover {
    transform: scale(0.99);
  }
}

.aplicarDescSeccion {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.listaProducto {
  padding: 10px 0 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  grid-gap: 15px;
}

.productos_descuentos {
  border-radius: 5px;
  width: 100%;
  .p__productos {
    margin: 15px 0 15px 0;
    font-weight: 400;
    font-size: 18px;
    padding: 9px;
    background-color: rgba(0, 0, 0, 0.103);
    border-radius: 5px;
  }
}

@media (max-width: 900px) {
  .container {
    width: 100vw;
    display: grid;
    justify-items: center;
    grid-gap: 15px;
    .container__descuentos {
      width: 95vw;
      padding: 0;
      justify-content: center;

      .container__descuentos__item {
        width: 90%;
      }
    }
    form {
      width: 90%;
    }
    .cupones__container {
      background-color: white;
      padding: 15px;
      width: 90%;
      justify-content: center;

      .title {
        text-decoration: underline;
        font-size: 32px;
        margin: 0;
      }
    }
  }
  .productos_descuentos {
    background-color: white;
    padding: 5px;
    width: 95%;
    .p__productos {
      margin: 15px 0 15px 0;
      font-weight: 400;
      font-size: 18px;
      padding: 9px;
      background-color: rgba(0, 0, 0, 0.103);
    }
  }

  .descuento__seccion {
    width: 80%;
    color: $black-color;
    padding: 7px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.3s;
    margin: 10px 0 5px 0 !important;
    transition-duration: 0.3s;
    &:hover {
      transform: scale(0.99);
    }
  }
}
