@import "./Variables.module.scss";

.main {
}
.header {
  margin-top: -80px;
  width: 100%;
  min-height: 95vh;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 100px;
  justify-items: center;
  align-items: center;
  background-color: $white-color;

  .logo {
    display: grid;
    justify-items: center;

    img {
      height: 300px;
    }

    p {
      font-size: 25px;
      font-weight: 500;
      text-align: center;
      margin: 0;
      color: $black-color;
    }

    a {
      padding: 10px 25px 10px 25px;
      border-radius: 15px;
      text-align: center;
      background-color: $black-color;
      border: 2px solid rgba(0, 0, 0, 0);
      color: $white-color;
      font-weight: 700;
      font-size: 20px;
      font-family: $fuente1;
      margin-top: 15px;
      cursor: pointer;
      text-decoration: none;
      transition-duration: 0.3s;

      &:hover {
        color: $black-color;
        background-color: $white-color;
        border: 2px dotted $black-color;
      }
    }
  }
  .flecha {
    align-self: end;
    display: grid;
    justify-items: center;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    color: $black-color;
    text-decoration: none;
    p {
      font-weight: 900;
      font-size: 32px;
      text-align: center;
      margin: 0;
      font-family: $fuente3;
    }

    .icon {
      font-size: 55px;
      -webkit-animation: icon 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
        alternate both;
      animation: icon 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate
        both;
    }
    @keyframes icon {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(10px);
      }
    }
  }
}

.seccion {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 15px 0 15px 0;
  background-color: $white-color;

  h3 {
    text-align: center;
    font-size: 45px;
    margin: 15px 0 15px 0;
    color: $black-color;
    border-bottom: 3px solid $black-color;
    font-family: $fuente3;
  }

  .seccion__items {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 25px 0 25px 0;
  }
}

.ofertas {
  padding: 25px 0 25px 0;
  min-height: 400px;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;

  h3 {
    text-align: center;
    font-size: 45px;
    margin: 15px 0 15px 0;
    color: $black-color;
    border-bottom: 3px solid $black-color;
    font-family: $fuente3;
  }

  .items {
    width: 70%;
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .a {
    background-color: $black-color;
    color: $white-color;
    padding: 8px 12px 8px 12px;
    border-radius: 10px;
    border: 2px solid rgba(245, 222, 179, 0);
    font-size: 18px;
    font-family: $fuente2;
    margin: 15px 0 15px 0;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.3s;

    &:hover {
      color: $black-color;
      background-color: white;
      border: 2px solid $black-color;
    }
  }
}

@media (max-width: 900px) {
  .header {
    width: 100%;
    min-height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: $white-color;
    grid-template-rows: 1fr 200px;

    .logo {
      display: grid;
      justify-items: center;

      img {
        height: 150px;
      }

      p {
        font-size: 16px;
        font-weight: 900;
        text-align: center;
        margin: 0;
      }

      a {
        padding: 10px 25px 10px 25px;
        border-radius: 15px;
        text-align: center;
        background-color: $black-color;
        border: 2px solid rgba(255, 0, 0, 0);
        color: $white-color;
        font-weight: 700;
        font-size: 16px;
        font-family: $fuente1;
        margin-top: 25px;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          color: $black-color;
          background-color: $white-color;
          border: 2px solid $black-color;
        }
      }
    }
    .flecha {
      align-self: start;
      display: grid;
      justify-items: center;
      align-items: center;
      margin-bottom: 0px;
      cursor: pointer;
      color: $black-color;
      text-decoration: none;
      p {
        font-weight: 900;
        font-size: 30px;
        text-align: center;
        margin: 0;
      }

      .icon {
        font-size: 55px;
        -webkit-animation: icon 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
          alternate both;
        animation: icon 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
          alternate both;
      }
      @keyframes icon {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(10px);
        }
      }
    }
  }

  .seccion {
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 15px 0 15px 0;

    h3 {
      text-align: center;
      font-size: 40px;
      margin: 15px 0 15px 0;
      color: $black-color;
    }

    .seccion__items {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 15px;
      padding: 25px 0 25px 0;
    }
  }

  .ofertas {
    min-height: 400px;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;

    h3 {
      text-align: center;
      font-family: $fuente3;
      font-size: 40px;
      margin: 15px 0 15px 0;
    }

    .items {
      min-height: 500px;
      width: 100%;
      min-width: 300px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
    }

    .a {
      background-color: $black-color;
      color: $white-color;
      padding: 8px 12px 8px 12px;
      border-radius: 10px;
      font-size: 16px;
      font-family: $fuente2;
      margin: 15px 0 15px 0;
      cursor: pointer;
      text-decoration: none;
    }
  }
}
