@import "./Variables.module.scss";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: -80px;
  width: 100%;
  min-height: 95vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: $fondoColor;
  background-image: $fondoGradiente;

  .container {
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .title {
      width: 600px;
      font-family: $fuente4;
      font-weight: 400;
      font-size: 30px;

      span {
        font-weight: 700;
      }

      .btn {
        background-color: rgb(0, 192, 0);
        color: white;
        padding: 15px;
        border-radius: 20px;
        border: none;
        font-size: 18px;
        font-weight: 900;
        font-family: $fuente1;
        cursor: pointer;
        transition-duration: 0.3s;
        text-decoration: none;

        &:hover {
          background-color: rgb(48, 160, 20);
          color: white;
        }
      }
    }

    .logo {
      display: grid;
      justify-items: center;

      img {
        height: 40vh;
        filter: drop-shadow(5px 5px 5px #666666);
      }
    }
  }
}

.about {
  margin: 15px 0 15px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 450px;

  .container {
    width: 70vw;
    height: 100%;

    h2 {
      font-size: 28px;
      font-family: $fuente4;
      border-bottom: 2px solid black;
    }

    .about__icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      gap: 15px;
    }
  }
}

.pasos {
  min-height: 400px;
  width: 70vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 0 100px 0;

  img {
    max-width: 1280px;
    height: 600px;
    width: 70vw;
    object-fit: cover;
    z-index: -1;
    left: 300px;
    border-radius: 5px;
    filter: blur(1px);
    margin-right: 250px;
  }

  .pasos__text {
    position: absolute;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;

    h3 {
      color: white;
      font-size: 32px;
      text-shadow: 1px 2px 2px rgba(17, 17, 17, 0.685);
      font-family: $fuente4;
    }

    p {
      margin-left: 100px;
      background-color: white;
      border-radius: 10px;
      padding: 15px;
      font-weight: 600;
      box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.1);
      width: 350px;
    }
  }
}

.precio {
  width: 100%;
  min-height: 70vh;
  display: flex;

  .precio__precio {
    width: 50%;
    height: auto;
    background-color: $nowhite-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;

    .conte {
      width: 70%;

      h3 {
        font-family: $fuente1;
        font-size: 80px;
        font-weight: 400;
        color: white;
        margin: 0;

        span {
          font-weight: 400;
          color: $white-color;
        }
      }

      p {
        text-align: left;
        color: $white-color;
        font-size: 22px;
      }

      button {
        background-color: white;
        padding: 15px;
        border-radius: 20px;
        font-weight: 900;
        border: none;
        font-family: $fuente1;
        cursor: pointer;
        transition-duration: 0.3s;
        font-size: 18px;
        color: $black-color;
        margin-top: 15px;

        &:hover {
          background-color: $white-color;
        }
      }
    }
  }

  .precio__benef {
    width: 50%;
    height: auto;
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;

    .card {
      display: flex;
      flex-direction: column;
      gap: 25px;
      margin-left: 20px;

      h4 {
        margin: 0;

        span {
          font-size: 28px;
        }
      }

      p {
        margin: 0;
      }
    }
  }
}

@media (max-width: 900px) {
  .header {
    width: 100vw;
    min-height: 100vh;

    .container {
      flex-direction: column-reverse;

      .title {
        width: 90vw;
        font-family: $fuente4;
        font-weight: 400;
        font-size: 14px;
        text-align: center;

        span {
          font-weight: 700;
        }
      }

      .logo {
        display: grid;
        justify-items: center;

        img {
          height: 180px;
        }
      }
    }
  }

  .about {
    .container {
      width: 90vw;
    }
  }

  .pasos {
    min-height: 400px;
    width: 95vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px 0 100px 0;

    img {
      width: 95vw;
      height: 250px;
      left: 0px;
      filter: blur(1px);
      margin-right: 0px;
    }

    .pasos__text {
      position: relative;
      width: 95vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;

      h3 {
        top: -200px;
        left: 5vw;
        width: 80vw;
        position: absolute;
        font-size: 28px;
        margin-left: 0px;

        text-shadow: 1px 2px 2px rgba(17, 17, 17, 0.685);
        font-family: $fuente4;
      }

      p {
        margin-left: 0px;
        background-color: white;
        border-radius: 15px;
        padding: 15px;
        font-weight: 600;
        width: 85vw;
      }
    }
  }

  .precio {
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;

    .precio__precio {
      width: 100%;
      height: auto;
      background-color: $nowhite-color;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: left;
      padding: 25px 0 25px 0;

      .conte {
        width: 80%;

        h3 {
          font-family: $fuente1;
          font-size: 100px;
          font-weight: 400;
          color: white;
          margin: 0;
        }

        p {
          text-align: left;
          color: $white-color;
          font-size: 22px;
        }

        button {
          background-color: white;
          padding: 15px;
          border-radius: 20px;
          font-weight: 900;
          border: none;
          font-family: $fuente1;
          cursor: pointer;
          transition-duration: 0.3s;
          font-size: 18px;

          &:hover {
            background-color: $white-color;
          }
        }
      }
    }

    .precio__benef {
      width: 100%;
      height: 100%;
      background-color: $white-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      padding: 15px 0 15px 0;

      .card {
        display: flex;
        flex-direction: column;
        margin: 5px 0 5px 0px;
        padding: 15px;
        height: auto;
        h4 {
          margin: 0;
          font-size: 18px;

          span {
            font-size: 28px;
          }
        }

        p {
          margin: 0;
          font-size: 16px;
        }
      }
    }
  }
}
