@import "./Variables.module.scss";

.body {
  padding-top: 80px;
  min-height: 90vh;
}

.footer {
  height: 60px;
  width: 100%;
  background-color: $black-color;
  display: grid;
  align-items: center;
  justify-items: center;

  p {
    color: $white-color;

    span {
      font-weight: 700;
    }
  }
}

@media (max-width: 900px) {
  .body {
    padding-top: 60px;

    min-height: 90vh;
  }
  .footer {
    margin-bottom: 58px;
    border-bottom: 2px solid $white-color;
  }
}
