@import "./Variables.module.scss";

.login__container {
  min-height: 90vh;
  display: grid;
  align-items: center;
  justify-items: center;
  p {
    text-align: center;
    padding: 20px 30px 20px 30px;
    font-size: 16px;
    font-weight: 900;
    background-color: $black-color;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    transition-duration: 0.3s;

    &:hover {
      background-color: $secondary-color;
    }

    .google {
      font-size: 32px;
    }
  }
}
