@import "./Variables.module.scss";

.container {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: $black-color;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);

  z-index: 300;

  .img {
    grid-column: 2/3;
    display: grid;
    justify-items: center;
    align-items: center;

    img {
      height: 80px;
    }
  }

  .buscador {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .navbar {
    grid-column: 3/4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    font-weight: 600;

    .icon {
      color: white;
      list-style: none;
      cursor: pointer;
      text-decoration: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 5px;
      font-size: 24px;
      margin: 0;

      &:hover {
        color: $white-color;
      }
      p {
        font-size: 16px;
        margin: 0 !important;
      }
    }
  }
}

@media (max-width: 900px) {
  .container {
    position: fixed;
    height: auto;
    width: 100%;
    background-color: $black-color;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 300;
    bottom: 0;

    .img {
      grid-column: 2/3;
      display: grid;
      justify-items: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      background-color: $black-color;
      width: 100%;
      z-index: 300;

      img {
        height: 60px;
      }
    }
    .buscador {
      margin-top: 60px;
      grid-column: 1/2;
      grid-row: 2/3;
      position: fixed;
      top: 0;
      background-color: $black-color;
    }

    .navbar {
      grid-column: 1/2;
      display: flex;
      justify-content: space-around;
      width: 100%;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;
      padding: 15px 0 15px 0;
      font-weight: 600;

      .icon {
        color: white;
        list-style: none;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 5px;
        font-size: 28px;
        margin: 0;

        &:hover {
          color: $white-color;
        }
        p {
          font-size: 16px;
          margin: 0 !important;
        }
      }
    }
  }
}
