@import "./Variables.module.scss";

.container {
  width: 100%;
  min-height: 90vh;
  display: grid;
  justify-items: center;
  grid-template-columns: 200px 1fr;

  .menu {
    width: 100%;
    justify-self: start !important;

    background-color: $black-color;

    li {
      padding: 10px 15px 10px 15px;
      cursor: pointer;
      color: $white-color;
      list-style: none;
      font-weight: 900;
      font-size: 22px;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  .menu__movil {
    display: none;
  }

  .secciones {
    width: 100%;
    padding: 15px 0 15px 0;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 15px;

    .producto__nuevo__btn {
      height: 20px;
      cursor: pointer;
      color: $white-color;
      justify-self: center;
      text-align: center;
      width: 150px;
      padding: 5px 10px 5px 10px;
      border-radius: 15px;
      background-color: $black-color;
      font-weight: 900;
    }
    .producto__cantidad {
      color: $black-color;
      justify-self: center;
      text-align: center;
      width: 150px;
      padding: 5px 10px 5px 10px;
      border-radius: 15px;
      background-color: $secondary-color;
      font-weight: 900;
      user-select: none;
    }
  }

  .listaProducto {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
    grid-gap: 15px;
    max-height: 60vh;
    overflow-y: scroll;
  }
}

@media (max-width: 900px) {
  .container {
    width: 100vw;
    min-height: 90vh;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;

    .menu {
      display: none;
    }

    .menu__movil {
      width: 100%;
      height: 40px;
      background-color: $black-color;
      color: $white-color;
      display: grid;
      align-items: center;
      justify-items: center;
      grid-template-columns: 1fr 1fr;

      li {
        list-style: none;
        font-weight: 900;
        font-size: 22px;
      }
    }

    .secciones {
      width: 100%;
      padding: 15px 0 15px 0;
      .producto__nuevo__btn {
        cursor: pointer;
        color: $white-color;
        justify-self: center;
        text-align: center;
        width: 150px;
        padding: 5px 10px 5px 10px;
        border-radius: 15px;
        background-color: $black-color;
        font-weight: 900;
      }
      .producto__cantidad {
        color: $black-color;
        justify-self: center;
        text-align: center;
        width: 150px;
        padding: 5px 10px 5px 10px;
        border-radius: 15px;
        background-color: $secondary-color;
        font-weight: 900;
        user-select: none;
      }
    }

    .listaProducto {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 90%;
      grid-gap: 15px;
    }
  }
}
