@import "./Variables.module.scss";

.container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  justify-items: center;
  grid-template-columns: 250px 1fr;

  .menu {
    width: 100%;
    justify-self: start !important;
    padding-top: 30px;
    background-color: white;

    p {
      padding: 10px 15px 10px 15px;
      color: $nowhite-color;
      font-weight: 400;
      font-size: 20px;
      font-family: $fuente4;
      margin: 0;
      border-bottom: 2px solid $nowhite-color;
      display: flex;
      align-items: center;
      gap: 15px;
    }

    li {
      padding: 10px 15px 10px 15px;
      cursor: pointer;
      color: $black-color;
      list-style: none;
      font-weight: 400;
      font-size: 18px;
      font-family: $fuente4;
      display: flex;
      align-items: center;
      gap: 15px;
      transition-duration: 0.3s;

      &:hover {
        color: $nowhite-color;
      }
    }
  }

  .menu__movil {
    display: none;
  }

  .secciones {
    width: 100%;
    padding: 15px 0 15px 0;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 15px;

    .cabecera__productos {
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .producto__nuevo__btn {
      height: 20px;
      cursor: pointer;
      color: white;
      justify-self: center;
      text-align: center;
      width: 150px;
      padding: 8px 10px 8px 10px;
      border-radius: 5px;
      background-color: $black-color;
      font-weight: 900;
    }
    .producto__cantidad {
      color: $black-color;
      justify-self: center;
      text-align: center;
      width: 150px;
      padding: 5px 10px 5px 10px;
      border-radius: 5px;
      background-color: $secondary-color;
      font-weight: 900;
      user-select: none;
    }
  }

  .listaProducto {
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
    grid-gap: 15px;
    max-height: 60vh;
    overflow-y: scroll;
  }
}

@media (max-width: 900px) {
  .container {
    width: 100vw;
    min-height: 90vh;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;

    .menu {
      display: none;
    }

    .menu__movil {
      width: 100%;
      height: 40px;
      background-color: $black-color;
      color: $white-color;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 15px;

      li {
        list-style: none;
        font-weight: 900;
        font-size: 16px;
      }
    }

    .secciones {
      width: 100%;
      padding: 15px 0 15px 0;

      .cabecera__productos {
        justify-content: center;
      }

      .producto__nuevo__btn {
        cursor: pointer;
        justify-self: center;
        text-align: center;
        width: 150px;
        background-color: $black-color;
        font-weight: 900;
      }
      .producto__cantidad {
        color: $black-color;
        justify-self: center;
        text-align: center;
        width: 150px;
        padding: 5px 10px 5px 10px;
        background-color: $secondary-color;
        font-weight: 900;
        user-select: none;
      }
    }

    .listaProducto {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      grid-gap: 15px;
      padding: 0;
    }
  }
}
