@import "./Variables.module.scss";

.container {
  justify-self: center;
  width: 100vw;
  height: 100vh;
  position: fixed;

  z-index: 1200;
  top: 0;
  left: 0;
  min-width: 500px;
  min-height: 300px;
  background-color: rgba(0, 0, 0, 0.747);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  backdrop-filter: blur(3px);

  .container__img {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: opacity(0.7);

    img {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .form {
    width: 50vw;
    background-color: rgb(238, 238, 238);
    padding: 15px;
    border-radius: 5px;
    display: grid;
    p {
      font-weight: 600;
      margin: 0;
    }

    input {
      padding: 0 0px 0 15px;
      width: 97%;
      height: 30px;
      border-radius: 5px;
      border: none;
      outline: none;
      border: 1px solid $black-color;
      margin-bottom: 5px;
    }

    .precios {
      width: 90%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 15px;

      .precios__item {
        width: 30%;
        min-width: 150px;
      }
    }

    select {
      height: 30px;
      padding: 5px;
      border-radius: 5px;
      outline: none;
      border: 1px solid $black-color;
    }

    button {
      margin-top: 15px;
      justify-self: center;
      border: none;
      padding: 8px 12px 8px 12px;
      border-radius: 15px;
      cursor: pointer;
      background-color: $black-color;
      color: $white-color;
      font-weight: 600;
    }
  }
}

.check__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}
.checkbox {
  justify-self: start;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid $black-color;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0 5px 0;
  width: 180px;

  p {
    width: 100%;
    margin: 0;
  }

  .descuentoActivo {
    width: 60px;
    margin: 5px 5px 5px 5px !important;
    color: $white-color;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
  }
}

@media (max-width: 900px) {
  .container {
    min-width: 300px;
    min-height: 300px;

    .container__img {
      display: none;
    }

    .form {
      width: 90vw;
      background-color: rgb(238, 238, 238);
      padding: 15px;
      border-radius: 5px;
      display: grid;
      p {
        font-weight: 600;
        margin: 0;
      }
    }
  }
}
