@import "./Variables.module.scss";

.container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  justify-items: center;

  .container__productos {
    width: 70vw;
    min-width: 600px;
    display: grid;

    grid-template-columns: 250px 1fr;

    .menu {
      list-style: none;
      position: fixed;

      li {
        font-weight: 600;
        margin-top: 15px;
        cursor: pointer;
        transition-duration: 0.3s;
        &:hover {
          color: $white-color;
        }
      }
    }
    .tienda {
      grid-column: 2/3;
    }
  }
}

.menu__movil {
  display: none;
}

@media (max-width: 900px) {
  .container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    justify-items: center;

    .container__productos {
      width: 100vw;
      min-width: 280px;
      display: grid;

      grid-template-columns: 1fr;

      .menu {
        display: none;
      }
      .menu__movil {
        padding: 0 0 0 20px;
        justify-self: start;

        display: block;
        list-style: none;

        .movil__cat {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          justify-content: flex-start;
          align-items: center;

          h3 {
            margin: 0;
          }
          .cat__icon {
            font-size: 25px;
          }
        }
        li {
          font-weight: 600;
          margin-top: 15px;
          cursor: pointer;
        }
      }
      .tienda {
        grid-column: 1/2;
      }
    }
  }
}
