@import "./Variables.module.scss";

.container {
  justify-self: center;
  width: 100vw;
  height: 100vh;
  position: fixed;

  z-index: 1200;
  top: 0;
  left: 0;
  min-width: 500px;
  min-height: 300px;
  background-color: rgba(0, 0, 0, 0.747);
  display: grid;
  justify-items: center;
  align-items: center;
  backdrop-filter: blur(3px);

  .form {
    width: 50vw;
    background-color: rgb(238, 238, 238);
    padding: 15px;
    border-radius: 5px;
    display: grid;
    p {
      font-weight: 600;
      margin: 0;
    }

    input {
      padding: 0 0px 0 15px;
      width: 97%;
      height: 30px;
      border-radius: 5px;
      border: none;
      outline: none;
      border: 1px solid $black-color;
      margin-bottom: 5px;
    }
    .precios {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr 1fr;

      .precios__item {
        width: 90%;
      }
    }

    select {
      height: 30px;
      padding: 5px;
      border-radius: 5px;
      outline: none;
      border: 1px solid $black-color;
    }

    button {
      margin-top: 15px;
      justify-self: center;
      border: none;
      padding: 8px 12px 8px 12px;
      border-radius: 15px;
      cursor: pointer;
      background-color: $black-color;
      color: $white-color;
      font-weight: 600;
    }
  }
}

.check__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.checkbox {
  justify-self: start;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 0.3fr;
  border: 1px solid $black-color;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0 5px 0;
  width: 250px;

  p {
    width: 100%;
    margin: 0;
  }

  .descuentoActivo {
    margin: 5px 5px 5px 5px !important;
    color: $white-color;
    padding: 8px 12px 8px 12px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
  }
}
