@import "./Variables.module.scss";

.container {
  height: 300px;
  width: 250px;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 200px 0.5fr;

  .img {
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .descuentoIcon {
      font-size: 50px;
      top: 0;
      left: 0;
      margin: 10px 0 0 10px;
      display: grid;
      justify-items: center;
      align-items: center;
      border-radius: 50%;
      position: absolute;
      background-color: rgba(255, 0, 0, 0.541);
      color: white;
      p {
        margin: 0;
        font-weight: 900;
      }
    }

    img {
      height: 200px;
      width: 100%;
      border-radius: 15px;
      object-fit: cover;
    }
  }

  .text {
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 3px;

    .text__precio {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 5px;
    }

    h4 {
      margin: 0;
    }

    p {
      margin: 0;
      font-weight: 900;
      font-size: 18px;
    }
    .agregar__carrito {
      width: 24px;
      height: 30px;
      padding: 5px 10px 5px 10px;
      margin: 0;
      background-color: $black-color;
      color: $white-color;
      border-radius: 50%;
      font-size: 22px;
      cursor: pointer;
      display: grid;
      justify-items: center;
      align-items: center;

      &:hover {
        color: $primary-color;
      }

      p {
        margin: 0;
        text-align: center;
        font-weight: 900;
      }
    }
  }
}
