@import "./Variables.module.scss";

.container {
  width: 250px;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 200px 0.5fr;

  .img {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    .descuentoIcon {
      font-size: 30px;
      top: 0;
      left: 0;
      margin: 5px 0 0 10px;
      display: grid;
      justify-items: center;
      align-items: center;
      border-radius: 50%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.541);
      color: white;
      padding: 5px;
      p {
        margin: 0;
        font-weight: 900;
      }
    }
    .descuentoIcon2 {
      font-size: 30px;
      top: 0;
      left: 190px;
      margin: 5px 0 0 10px;
      display: grid;
      justify-items: center;
      align-items: center;
      border-radius: 50%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.541);
      color: white;
      padding: 5px;
      p {
        margin: 0;
        font-weight: 900;
      }
    }

    .imgg {
      height: 200px;
      width: 100%;
      border-radius: 5px;
      object-fit: cover;
      transition-duration: 0.3s;

      &:hover {
        transform: scale(1.09);
      }
    }
  }

  .text {
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 3px;
    color: $black-color;

    .text__precio {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 5px;
    }

    .text__title {
      display: flex;
      justify-items: center;
      align-items: center;
      height: 35px;
      h4 {
        margin: 0;
      }
    }

    p {
      margin: 0;
      font-weight: 900;
      font-size: 18px;
    }
    .agregar__carrito {
      width: 24px;
      height: 30px;
      padding: 5px 10px 5px 10px;
      margin: 0;
      background-color: $black-color;
      color: $white-color;
      border-radius: 50%;
      font-size: 22px;
      cursor: pointer;
      display: grid;
      justify-items: center;
      align-items: center;

      &:hover {
        color: $primary-color;
      }

      p {
        margin: 0;
        text-align: center;
        font-weight: 900;
      }
    }
  }
}

@media (max-width: 900px) {
  .container {
    height: 100%;

    width: 160px;
    border-radius: 15px;
    display: grid;
    grid-template-rows: 130px 1fr;

    .img {
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .descuentoIcon {
        font-size: 50px;
        top: 0;
        left: 0;
        margin: 10px 0 0 10px;
        display: grid;
        justify-items: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        background-color: rgba(255, 0, 0, 0.541);
        color: white;
        p {
          margin: 0;
          font-weight: 900;
        }
      }

      .imgg {
        height: 120px;
        width: 100%;
        border-radius: 15px;
        object-fit: cover;
      }
    }

    .text {
      text-align: center;
      display: grid;
      justify-items: center;
      align-items: center;
      grid-gap: 3px;

      .text__precio {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;
      }

      h4 {
        margin: 0;
        font-size: 16px;
      }

      p {
        margin: 0;
        font-weight: 900;
        font-size: 18px;
      }
      .agregar__carrito {
        width: 20px;
        height: 28px;
        padding: 5px 10px 5px 10px;
        margin: 0;
        background-color: $black-color;
        color: $white-color;
        border-radius: 50%;
        font-size: 20px;
        cursor: pointer;
        display: grid;
        justify-items: center;
        align-items: center;

        &:hover {
          color: $primary-color;
        }

        p {
          margin: 0;
          text-align: center;
          font-weight: 900;
        }
      }
    }
  }
}
