@import "./Variables.module.scss";

.container {
  width: 90%;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;

  h4 {
    margin: 10px 0 10px 0;
  }

  form {
    width: 100%;
    p {
      margin: 0;
      font-weight: 900;
      margin-bottom: 5px;
    }
    input {
      height: 30px;
      width: 300px;
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;
      outline: none;
      border: 1px solid black;
      padding-left: 10px;
      background-color: rgb(255, 255, 255);
    }

    button {
      height: 34px;
      border: none;
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;
      background-color: $black-color;
      color: $white-color;
      cursor: pointer;
    }
  }

  .secciones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;

    .secciones__item {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      background-color: rgba(0, 0, 0, 0.116);
      padding: 5px;
      border-radius: 15px;
    }

    .secciones__p {
      margin: 0;
      cursor: pointer;
      color: $white-color;
      padding: 5px 12px 5px 12px;
      background-color: $black-color;
      border-radius: 15px;
      transition-duration: 0.3s;
      &:hover {
        color: $primary-color;
      }
    }

    .x {
      cursor: pointer;
      color: white;
      text-align: center;
      height: 26px;
      width: 26px;
      display: grid;
      align-items: center;
      justify-items: center;
      background-color: red;

      border-radius: 50%;

      p {
        height: 24px;
        font-weight: 900;
        margin: 0;
      }
    }
  }
}

@media (max-width: 900px) {
  .container {
    background-color: rgb(255, 255, 255);
    padding: 0px;
    border-radius: 10px;
    margin-top: 25px;
    display: grid;
    justify-items: center;

    h4 {
      margin: 10px 0 10px 0;
    }

    form {
      width: 95%;
      p {
        margin: 0;
        font-weight: 900;
        margin-bottom: 5px;
      }
      input {
        height: 30px;
        width: 200px;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        outline: none;
        border: 1px solid black;
        padding-left: 10px;
        background-color: rgb(255, 255, 255);
      }

      button {
        height: 34px;
        border: none;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        background-color: $black-color;
        color: $white-color;
        cursor: pointer;
      }
    }

    .secciones {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 8px;

      .secciones__item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        background-color: rgba(0, 0, 0, 0.116);
        padding: 5px;
        border-radius: 15px;
      }

      .secciones__p {
        margin: 0;
        cursor: pointer;
        color: $white-color;
        padding: 5px 12px 5px 12px;
        background-color: $black-color;
        border-radius: 15px;
        transition-duration: 0.3s;
        &:hover {
          color: $primary-color;
        }
      }

      .x {
        cursor: pointer;
        color: white;
        text-align: center;
        height: 26px;
        width: 26px;
        display: grid;
        align-items: center;
        justify-items: center;
        background-color: red;

        border-radius: 50%;

        p {
          height: 24px;
          font-weight: 900;
          margin: 0;
        }
      }
    }
  }
}
