$primary-color: #fdfd96;
$secondary-color: #996fd6;
$third-color: #e4b43b;
$white-color: #d0c9ea;
$black-color: #413f46;
$fuente1: "Quicksand", sans-serif;
$fuente2: "Kanit", sans-serif;
$fuente3: "Bebas Neue", cursive;

@export "primary-color";
@export "secondary-color";
@export "third-color";
@export "white-color";
@export "black-color";
@export "fuente1";
@export "fuente2";
@export "fuente3";
