$primary-color: #a2f2ae;
$secondary-color: #9cd9ce;
$third-color: #e4b43b;
$white-color: #f2ced1;
$black-color: #413f46;

@export "primary-color";
@export "secondary-color";
@export "third-color";
@export "white-color";
@export "black-color";
