@import "../../../styles/Variables.module.scss";

.container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.411);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 300;

  .container__item {
    position: relative;
    min-height: 400px;
    min-width: 800px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;

    .img {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
      width: 400px;

      img {
        height: 300px;
        width: 100%;
        border-radius: 15px;
        border: 2px solid rgba(0, 0, 0, 0.199);
        object-fit: cover;
      }
    }

    .descripcion {
      min-width: 400px;

      .text {
        display: flex;

        p {
          margin: 0;
        }

        .p {
          font-weight: 600;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .precioDescuento {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
      }

      h4 {
        border-bottom: 2px solid $black-color;
        font-size: 24px;
        margin: 0;
        margin-top: 5px;
      }

      h3 {
        font-family: $fuente2;
        font-size: 32px;
        margin: 0;
      }
    }

    button {
      width: 80%;
      border: none;
      margin: 15px 0 0 0;
      font-weight: 900;
      padding: 5px 8px 5px 8px;
      border-radius: 15px;
      text-align: center;
      cursor: pointer;
      font-family: $fuente1;
      background-color: $black-color;
      color: $white-color;
    }
  }
  .cerrar {
    width: 80px;
    border: none;
    margin: 15px 0 0 0;
    font-weight: 900;
    padding: 5px 8px 5px 8px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    font-family: $fuente1;
    background-color: $black-color;
    color: $white-color;
  }
}

@media (max-width: 900px) {
  .container__item {
    min-width: 300px !important;
    width: 95vw !important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .img {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
      width: 300px;

      img {
        height: 200px !important;
        width: 100%;
        border-radius: 15px;
        border: 2px solid rgba(0, 0, 0, 0.199);
        object-fit: cover;
      }
    }
    .descripcion {
      button {
        width: 100%;
      }
    }

    h4 {
      border-bottom: 2px solid $black-color;
      font-size: 20px !important;
      margin: 0;
      margin-top: 5px;
    }

    h3 {
      font-family: $fuente2;
      font-size: 22px !important;
      margin: 0;
    }
  }
}
