@import "../../styles/Variables.module.scss";

.container {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(179, 179, 179);
  transition-duration: 0.3s;

  &:hover {
    border: 2px solid $secondary-color;
  }

  a {
    text-decoration: none;
  }
  img {
    height: 110px;
    width: 110px;
    object-fit: cover;
    border-radius: 50%;
  }
}
