@import "../../styles/Variables.module.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 20px 0 20px 0;

  .titulo {
    margin: 0;
    color: $black-color;
    font-size: 22px;
  }
  p {
    margin: 0;
    color: $black-color;
  }

  .foto {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    object-fit: cover;
  }

  .redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    a {
      color: $black-color;
      transition-duration: 0.3s;
      .logo {
        font-size: 26px;
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
